<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Hi, Hoang Van Nhat</h1>
    <h3> <%= result %> </h3>
</body>
</html>